<!-- Toolbar -->
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h3>
        Covid-19 automatic vaccine bookings and availability tracking in India
      </h3>
      <p>
        This web-app can continously track for availability of vaccine and
        proceed with booking on your behalf if you are logged in.
      </p>
      <br /><br />
    </div>
  </div>

  <form>

    <div class="row">
      <div class="col-4">
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            placeholder="Recipient's Mobile"
            name="mobile"
            [(ngModel)]="mobile"
            [disabled]="disableMobile"
            aria-label="Phone number"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              [disabled]="mobile == ''"
              (click)="sendOtp()"
            >
              Login
            </button>
          </div>
        </div>
      </div>
      <div class="col-4">

        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            placeholder="OTP"
            name="otp"
            [(ngModel)]="otp"
            [disabled]="disableOtp"
            aria-label="otp"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              [disabled]="mobile == ''"
              (click)="validateOtp();disableOtp=true;showCancel=true"
            >
              Validate Otp
            </button>
          </div>

        </div>
      </div>
      <div class="col-4">
        <button
          class="btn btn-warning"
          type="button"
          *ngIf="showCancel"
          (click)="cancelLogin();disableMobile=false;disableOtp=true"
        >
         Cancel
        </button>
      </div>
    </div>
    <hr />
    <h5>Users Preference</h5>
    <hr />
    <!--
        Vaccine Type - Covisheild, covaxin, sputnik, any
       -->
    <div class="row">
      <div class="col-8">
        <div class="form-check form-check-inline">
          <b>Vaccine Type</b> &nbsp;
          <input
            class="form-check-input"
            type="radio"
            name="vaccine"
            id="covaxin"
            value="COVAXIN"
            (click)="getHospitalData()"
            [(ngModel)]="vaccineType"
          />
          <label class="form-check-label" for="inlineRadio1">COVAXIN</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="vaccine"
            id="covishield"
            value="COVISHIELD"
            (click)="getHospitalData()"
            [(ngModel)]="vaccineType"
          />
          <label class="form-check-label" for="inlineRadio2">COVISHIELD</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="vaccine"
            id="sputnik"
            value="SPUTNIK"
            (click)="getHospitalData()"
            [(ngModel)]="vaccineType"
          />
          <label class="form-check-label" for="inlineRadio3">SPUTNIK</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="vaccine"
            id="any"
            value="any"
            (click)="getHospitalData()"
            [(ngModel)]="vaccineType"
          />
          <label class="form-check-label" for="inlineRadio3">Any </label>
        </div>
      </div>
    </div>
    <br />
    <!--
        Age group
       -->
    <div class="row">
      <div class="col-6">
        <div class="form-check form-check-inline">
          <b>Age Group</b> &nbsp;
          <input
            class="form-check-input"
            type="radio"
            name="age"
            id="age18"
            value="18"
            [(ngModel)]="ageGroup"
            (click)="getHospitalData()"
          />
          <label class="form-check-label" for="inlineRadio1">18</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="age"
            id="age45"
            value="45"
            [(ngModel)]="ageGroup"
            (click)="getHospitalData()"
          />
          <label class="form-check-label" for="inlineRadio2">45</label>
        </div>
      </div>
    </div>
    <br />
    <!--
        Fee
       -->
    <div class="row">
      <div class="col-6">
        <div class="form-check form-check-inline">
          <b>Fee</b> &nbsp;
          <input
            class="form-check-input"
            type="radio"
            name="price"
            id="free"
            (click)="getHospitalData()"
            value="Free"
            [(ngModel)]="vaccineFee"
          />
          <label class="form-check-label" for="free">Free</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="price"
            id="paid"
            (click)="getHospitalData()"
            value="Paid"
            [(ngModel)]="vaccineFee"
          />
          <label class="form-check-label" for="paid">Paid</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="price"
            id="any"
            (click)="getHospitalData()"
            value="Any"
            [(ngModel)]="vaccineFee"
          />
          <label class="form-check-label" for="any">Any</label>
        </div>

      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-6">
        <div class="form-check form-check-inline">
          <b>Dose</b> &nbsp;
          <input
            class="form-check-input"
            type="radio"
            name="dose"
            id="dose1"
            value="dose1"
            [(ngModel)]="dose"
          />
          <label class="form-check-label" for="inlineRadio1">Dose1</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="dose"
            id="dose2"
            value="dose2"
            [(ngModel)]="dose"
          />
          <label class="form-check-label" for="inlineRadio2">Dose2</label>
        </div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-6">
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="inlineRadio1">Date</label>&nbsp;
          <input
            class="form-check-input"
            type="date"
            name="date"
            id="date"
            (change)="getHospitalData()"
            [(ngModel)]="date"
          />
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-4">
        States :
        <select
          class="custom-select"
          id="states"
          [(ngModel)]="selectedState"
          name="states"
          (change)="onChangeState()"
        >
          <option value="">Select</option>
          <option *ngFor="let x of stateList" [ngValue]="x.state_id">
            {{ x.state_name }}
          </option>
        </select>
      </div>

      <div class="col-4">
        Districts :
        <select
          class="custom-select"
          [(ngModel)]="selectedDistrict"
          id="district"
          name="districts"
          (change)="getHospitalData();refreshData()"
        >
          <option value="">Select</option>
          <option *ngFor="let d of districtData" [ngValue]="d.district_id">
            {{ d.district_name }}
          </option>
        </select>
      </div>
      <div class="col-4">
        <button
              class="btn btn-secondary"
              type="button"
              (click)="stopRefresh()"
            >
              Stop Search
            </button>
      </div>

    </div>
  </form>
  <br>
  <div class="row" *ngIf="listOfData.length > 0">
    <div class="col-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Vaccine</th>
            <th scope="col">Date</th>
            <th scope="col">Dose1</th>
            <th scope="col">Dose2</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData; let i = index">
            <th scope="col">{{ i +1}}</th>
            <th scope="col">{{ data.name }}</th>
            <th scope="col">{{ data.price }}</th>
            <th scope="col">{{ data.vaccine }}</th>
            <th scope="col">{{ data.date }}</th>
            <th scope="col">{{ data.dose1 }}</th>
            <th scope="col">{{ data.dose2 }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
